<mat-card>
  <mat-card-title>
    Alterar Produto
  </mat-card-title>
  <form class="form"> 
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="product.nome" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço(R$)" [(ngModel)]="product.valor" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço da Venda(R$)" [(ngModel)]="product.valorVenda" name="priceSale" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantidade" [(ngModel)]="product.quantidade" name="quantidade">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="updateProduct()" color="warn" >
    Alterar
  </button>
  
  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>

