.row{
    margin: 10px;
    text-decoration: none;
}
span{
    margin: 10px;
}

table{
    width: 100%;
    margin-bottom: 100px;

}


.edit {
    color :black;
    margin-right: 10px;
}

.delete {
    color:red
}