<mat-card>
  <mat-card-title>
    Nova Venda
  </mat-card-title>
  <form class="form"> 
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="sale.nomeProduto" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Preço(R$)" [(ngModel)]="sale.valor" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantidade" [(ngModel)]="sale.quantidade" name="quantidade" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{sale.dataVenda | date: 'dd/MM/yyyy' }}</mat-label>
      <input matInput readonly [matDatepicker]="dataVenda" (click)="dataVenda.open()">
      <mat-datepicker-toggle matSuffix [for]="dataVenda"></mat-datepicker-toggle>
      <mat-datepicker #dataVenda></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tamanho" [(ngModel)]="sale.tamanho" name="tamanho">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Pagamento" [(ngModel)]="sale.pagamento" name="pagamento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome do Cliente" [(ngModel)]="sale.nomeCliente" name="pagamento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="endereço" [(ngModel)]="sale.endereco" name="endereco">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contato" [(ngModel)]="sale.contato" name="Contato">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
  </button>
  
  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>


