<mat-card>
  <mat-card-title>
    Novo Produto
  </mat-card-title>
  <form class="form"> 
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="product.nome" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Preço(R$)" [(ngModel)]="product.valor" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="valor Venda(R$)" [(ngModel)]="product.valorVenda" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantidade" [(ngModel)]="product.quantidade" name="quantidade" required>
    </mat-form-field> 
    <mat-form-field>
      <input matInput type="date" [min]="minDate" placeholder="Data da Compra" [(ngModel)]="product.dataCompra" name="data" required>
    </mat-form-field> 
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
  </button>
  
  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>

