<div  fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="center start" >
  <mat-toolbar color="primary" [ngClass]="default">
  <mat-toolbar-row>
      <span>
        <a  src="#" alt="Logo" routerLink="/">
          <img src="./../../../../assets/organizejsIcon.png" class="logo">
        </a>
      </span>
      <nav>
        <div class="IconMenu">
          <a (click)="exibirMenu()">
            <i class="material-icons">
              menu
            </i>
          </a>
        </div>
        <div *ngIf="mostrarMenu" class="menuMin">
          <div class="col menuInline">
            <ul>
              <li>
                <a (click)="inicio()">
                  <i class="material-icons">
                    home
                  </i>
                  inicio
                </a>
              </li>
              <li>
                <a routerLink="/products">
                  <i class="material-icons">
                    store
                  </i>
                  Produtos
                </a>
              </li>
              <li>
                <a routerLink="/service">
                  <i class="material-icons">
                    build
                  </i>
                  Serviços
                </a>
              </li>
              <li>
                <a routerLink="/scheduling">
              <i class="material-icons">
                account_box
              </i>
              Agendamentos
            </a>
              </li>
            </ul>
          </div>
        </div>   
        </nav>
    <div style="display: flex;" position="end" class="col menu">
      <a mat-button routerLink="/">
        <i class="material-icons">
          home
        </i>
        inicio
      </a>
      <a mat-button routerLink="/products">
        <i class="material-icons">
          store
        </i>
        Produtos
      </a>
      
      <a mat-button routerLink="/service">
        <i class="material-icons">
          build
        </i>
        Serviços
      </a>
      <a mat-button routerLink="/scheduling">
        <i class="material-icons">
          account_box
        </i>
        Agendamentos
      </a>
      <a mat-button (click)="sair()">
        <i class="material-icons">
          bush
        </i>
        sair
      </a>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
</div>

